<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AddMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
let helperInit = function(){
	$('#idHelper').text("");
	$('#pwHelper').text("");
	$('#pw2Helper').text("");
	$('#nameHelper').text("");
	$('#addrHelper').text("");
	$('#phoneHelper').text("");
	$('#emailHelper').text("");
};

$(document).ready(function(){
	$('#btn').click(function(){
		helperInit();
		if($('#memberId').val().length < 4) {
			$('#idHelper').append("<i class='fa fa-exclamation-circle' style='font-size:24px'></i> ID는 4자 이상");
			$('#memberId').focus();
		} else if($('#memberPw').val().length < 4) {
			$('#pwHelper').append("<i class='fa fa-exclamation-circle' style='font-size:24px'></i> PW는 4자 이상");
			$('#memberPw').focus();
		} else if($('#memberPw').val() != $('#memberPw2').val()) {
			$('#pw2Helper').append("<i class='fa fa-exclamation-circle' style='font-size:24px'></i> PW를 확인하세요");
			$('#memberPw2').focus();
		} else if($('#memberName').val().length === 0) {
			$('#nameHelper').append("<i class='fa fa-exclamation-circle' style='font-size:24px'></i> 이름을 입력하세요");
			$('#memberName').focus();
		} else if($('#memberAddr').val().length === 0) {
			$('#addrHelper').append("<i class='fa fa-exclamation-circle' style='font-size:24px'></i> 주소를 입력하세요");
			$('#memberAddr').focus();
		} else if($('#memberPhone').val().length === 0) {
			$('#phoneHelper').append("<i class='fa fa-exclamation-circle' style='font-size:24px'></i> 번호를 입력하세요");
			$('#memberPhone').focus();
		} else if($('#memberEmail').val().length === 0) {
			$('#emailHelper').append("<i class='fa fa-exclamation-circle' style='font-size:24px'></i> 이메일을 입력하세요");
			$('#memberEmail').focus();
		} else {
			$('#myform').submit();
		}
	});

	$('#checkBtn').click(function(){
		$('#idForm').submit();
	});
	if($('.checkHelper').text() === "이미 사용중인 아이디 입니다" || $('.checkHelper').text() === "아이디를 입력하세요") {
		$('.checkHelper').before("<i class='fa fa-exclamation-circle' style='font-size:24px;color:red'></i>");
	}
});
</script>
<style>
	h1 {
		margin: 50px;
	}

	.title {
		text-align: center;
	}
	
	form {
		margin: 0 auto;
		width: 500px;
	}
	
	#btn {
		width: 500px;
		margin-top: 30px;
	}
	
	.helper, .checkHelper {
		color: red;
	}
	
	.checkBtnBox {
		text-align: right;
	}
</style>
</head>
<body>
<div class="container-fluid">
	<div class="title">
		<h1>회원가입</h1>
	</div>
	<form id="idForm" method="post" action="/checkMemberId">
		<div class="form-group confirm">
			<label for="memberIdCheck">아이디 중복 확인</label>
			<input type="text" name="memberIdCheck" id="memberIdCheck" class="form-control">
			<span th:if="${msg!=null}" th:text="${msg}" id="checkMsg" class="checkHelper"></span>
			<span th:if="${nullMsg!=null}" th:text="${nullMsg}" id="nullcheckMsg" class="checkHelper"></span>
		</div>
		<div class="checkBtnBox">
			<button id="checkBtn" class="btn btn-primary" type="button">중복확인</button>
		</div>
	</form>
	<form id="myform" method="post" action="/addMember">
		<div class="form-group">
			<label for="memberId">아이디</label>
			<input type="text" name="memberId" th:value="${confirmMemberId}" id="memberId" class="form-control" readonly="readonly">
			<span id="idHelper" class="helper"></span>
		</div>
		<div class="form-group">
			<label for="memberPw">비밀번호</label>
			<input type="password" name="memberPw" id="memberPw" class="form-control">
			<span id="pwHelper" class="helper"></span>
		</div>
		<div class="form-group">
			<label for="memberPw2">비밀번호 확인</label>
			<input type="password" id="memberPw2" class="form-control">
			<span id="pw2Helper" class="helper"></span>
		</div>
		<div class="form-group">
			<label for="memberName">사용자 이름</label>
			<input type="text" name="memberName" id="memberName" class="form-control">
			<span id="nameHelper" class="helper"></span>
		</div>
		<div class="form-group">
			<label for="memberAddr">주소</label>
			<input type="text" name="memberAddr" id="memberAddr" class="form-control">
			<span id="addrHelper" class="helper"></span>
		</div>
		<div class="form-group">
			<label for="memberPhone">전화번호</label>
			<input type="text" name="memberPhone" id="memberPhone" class="form-control">
			<span id="phoneHelper" class="helper"></span>
		</div>
		<div class="form-group">
			<label for="memberEmail">이메일</label>
			<input type="text" name="memberEmail" id="memberEmail" class="form-control">
			<span id="emailHelper" class="helper"></span>
		</div>
		<div>
			<button id="btn" class="btn btn-primary" type="button">회원가입</button>
		</div>
	</form>
</div>
</body>
</html>