<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 th:text="${#temporals.format(day, 'yyyy')} + '년  가계부'"></h1>
	<div th:text="${#temporals.format(day, 'yyyy')} + '년 월별 비교'"></div>
	<div class="row">
	<div th:each="i :  ${#numbers.sequence(1, 12)}" class="col">
			<!-- <div><a th:href="@{/getCashListByMonth(day=${#temporals.format(day, 'yyyy-')} + ${i} + ${#temporals.format(day, '-dd')}}" th:text="${i} + '월'"></a></div> -->
			<div th:each="mp : ${monthAndPriceList}" th:if="${mp.month}==${i}" th:text="${mp.price}"></div>
	</div>
	</div>
</body>
</html>