<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	$('.btn').hover(function(){
		$(this).css({"background-color": "#0084dc", "color": "#ffffff"});
	}, function() {
		$(this).css({"background-color": "#3498db", "color": "#ffffff"});
	});
});
</script>
<style>
.container-fluid {
	text-align: center;
}
	
h1 {
	margin: 100px;
}
	
.btn {
	margin: 35px;
	width: 300px;
	height: 45px;
	background-color: #3498db;
	color: #ffffff;
	margin-bottom: 10px;
}
	
.font-weight-light {
	font-size: small;
	margin-top: 50px;
}
</style>
</head>
<body>
<div class="container-fluid">
	<h1>가계부</h1>
	<div th:if="${session.loginMember == null}">
		<a href="/login" class="btn">로그인</a>
	</div>
	<div th:if="${session.loginMember != null}">
		<a href="/logout" class="btn">로그아웃</a>
	</div>
	<div th:if="${session.loginMember == null}">
		<a href="/addMember" class="btn">회원가입</a>
	</div>
	<div>
		<p class="font-weight-light">본 콘텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.</p>
		<p>Copyright © JWsoft Corp. All Rights Reserved.</p>
	</div>
	<div class="row">
		<div class="col">
			<p>
				로그인 전<br>
				회원가입<br>
				- 아이디 중복체크<br>
				- 이미지파일 업로드<br>
				- 유효성검사<br>
				아이디찾기<br>
				비밀번호찾기<br>
				- 이메일로 랜덤문자열로 변경된 비밀번호 전송<br>
				<br>
				로그인 후<br>
				회원탈퇴<br>
				- 비밀번호 확인<br>
				회원정보수정<br>
				- 비밀번호 확인<br>
				- 유효성검사
			</p>
		</div>
		<div class="col">
			<p>
				가계부관리<br>
				일별 가계부관리<br>
				- 각 월별 가계부 관리로 가는 링크<br>
				- 전날, 다음날 가계부로 가는 링크<br>
				- 일별 합계 출력<br>
				- 입력, 수정(카테고리 직접입력 추가)<br>
				- 삭제<br>
				월별 가계부관리<br>
				- 각 월별 가계부 수입/지출 달력 형태로 출력<br>
				- 전달, 다음달 월별 가계부로 가는 링크<br>
				- 월별 비교 링크(년도별)<br>
				년도별 가계부 관리<br>
				- 작년, 내년 가계부로 가는 링크<br>
				- 각 월별 수입/지출 총합 출력<br>
				- 이번년도 수입/지출 총합 출력
			</p>
		</div>
		<div class="col">
			<p>
				게시판<br>
				- 10개 행, 5페이지씩 페이징<br>
				- 검색 추가<br>
				- 게시글 작성(이미지파일 업로드)<br>
				게시판 상세보기<br>
				- 이전글, 다음글, 게시글 목록 링크<br>
				- 게시글 상세정보출력<br>
				- 수정, 삭제<br>
				<br>
				댓글<br>
				- 댓글 입력, 삭제<br>
				- 댓글 수정(jquery로 input태그 생성 후 ajax로 전송 성공하면 reload)<br>
				- 댓글 5개 행, 5페이지씩 페이징
			</p>
		</div>
	</div>
</div>
</body>
</html>