<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
$(document).ready(function(){
	$('#loginBtn').click(function(){
		$('#loginForm').submit();
	});
	if($('#loginMsg').text() === "아이디 또는 비밀번호를 확인하세요") {
		$('#loginMsg').prepend("<i class='fa fa-exclamation-circle' style='font-size:24px;color:red'></i> ");
	}
	
	$('.btn').hover(function(){
		$(this).css({"background-color": "#0084dc", "color": "#ffffff"});
	}, function() {
		$(this).css({"background-color": "#3498db", "color": "#ffffff"});
	});
});
</script>
<style>
h1 {
	margin: 80px;
}

.title {
	text-align: center;
}
	
form {
	margin: 0 auto;
	width: 300px;
}
	
#findBox {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.btn {
	width: 300px;
	margin-bottom: 10px;
	background-color: #3498db;
	color: #ffffff;
}
	
span {
	text-align: left;
}
	
#loginMsg {
	color: red;
}
</style>
</head>
<body>
<div class="container-fluid">
	<div class="title">
		<h1>로그인</h1>
	</div>
	<form id="loginForm" method="post" th:action="@{/login}">
		<div class="form-group">
			<input type="text" name="memberId" id="memberId" placeholder="admin" class="form-control">
		</div>
		<div>
			<input type="password" name="memberPw" id="memberPw" placeholder="1234" class="form-control">
		</div>
		<span th:text="${msg}" id="loginMsg"></span>
		<div id="findBox">
			<!-- 이름, 전화번호, 이메일 입력하면 조건에 맞는 아이디 보여줌 -->
			<a th:href="@{/findMemberId}" id="findId">아이디가 기억나지 않아요</a><br>
			<!-- 아이디, 이메일 입력하면 관리자가 비밀번호 변경 후 이메일로 전송 -->
			<a th:href="@{/findMemberPw}" id="findPW">비밀번호가 기억나지 않아요</a>
		</div>
		<div>
			<button class="btn" id="loginBtn" type="button">로그인</button>
		</div>
		<div>
			<a class="btn" th:href="@{/addMember}">회원가입</a>
		</div>
	</form>
</div>
</body>
</html>