<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	$('#btn').click(function(){
		$('#loginForm').submit();
	});
});
</script>
</head>
<body>
<div class="container-fluid">
	<h1>로그인</h1>
	<form class="loginForm" method="post" action="/login">
		<div>
			<input type="text" name="memberId" id="memberId" placeholder="아이디">
		</div>
		<div>
			<input type="password" name="memberPw" id="memberPw" placeholder="비밀번호">
		</div>
		<div>
			<a href="">아이디와 비밀번호가 기억나지 않아요</a>
		</div>
		<div>
			<button id="btn" type="submit">로그인</button>
		</div>
	</form>
	<div>
		<a href="/addMember">회원가입</a>
	</div>
</div>
</body>
</html>