<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MemberIdView</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
h1 {
	margin: 80px;
}

.title {
	text-align: center;
}

#result {
	width: 350px;
	margin: 0 auto;
}

.btn {
	width: 350px;
	margin-top: 20px;
	background-color: #3498db;
	color: #ffffff;
}
</style>
</head>
<body>
<div class="container-fluid">
	<div class="title">
		<h1>아이디 찾기 결과</h1>
	</div>
	<div id="result">
		<div th:if="${msg==null}">
			<div>
				아이디 : <span th:text="${memberIdPart}"></span>
			</div>
			<div class="btnBox">
				<a class="btn" th:href="@{/login}">로그인</a>
			</div>
		</div>
		<div th:if="${msg!=null}">
			<div>
				<span th:text="${msg}"></span>
			</div>
			<div class="btnBox">
				<a class="btn" th:href="@{/findMemberId}">돌아가기</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>