<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.BoardMapper">
	<!-- 답글에 답글일때 순서 update -->
	<update id="updateGroupOrderRe" parameterType="com.gdu.cashbook.vo.Board">
		UPDATE cashbook_board SET
			group_order = group_order+1
		WHERE origin_no = #{originNo}
		AND group_order >= #{groupOrder}
		AND NOT board_no = #{boardNo}
	</update>

	<!--  origin_no, group_order, group_layer 수정 -->
	<update id="updateGroupOrder" parameterType="com.gdu.cashbook.vo.Board">
		UPDATE cashbook_board SET
			origin_no = #{originNo},
			group_order = #{groupOrder},
			group_layer = #{groupLayer}
		WHERE board_no = #{boardNo}
	</update>
	
	<!-- 부모글 groupLayer -->
	<select id="selectGroupLayer" resultType="int" parameterType="int">
		SELECT group_layer 
		FROM cashbook_board
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 부모글 groupOrder -->
	<select id="selectGroupOrder" resultType="int" parameterType="int">
		SELECT group_order
		FROM cashbook_board
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- max(groupOrder) -->
	<select id="selectMaxGroupOrder" resultType="int" parameterType="int">
		SELECT MAX(group_order)
		FROM cashbook_board
		WHERE board_no = #{boardNo}
	</select>

	<!-- 원래글의 originNo -->
	<select id="selectOriginNo" resultType="int" parameterType="int">
		SELECT origin_no
		FROM cashbook_board
		WHERE board_no = #{boardNo}
	</select>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.gdu.cashbook.vo.Board">
		UPDATE cashbook_board
		SET
			board_title = #{boardTitle},
			board_content = #{boardContent},
			board_pic = #{boardPic}
		WHERE board_no = #{boardNo}
	</update>

	<!-- 게시글 이미지파일 이름 -->
	<select id="selectBoardPic" resultType="String" parameterType="int">
		SELECT board_pic
		FROM cashbook_board
		WHERE board_no = #{boardNo}
	</select>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM cashbook_board
		WHERE board_no = #{boardNo}
	</delete>
	
	<!-- 회원탈퇴시 게시글 삭제 -->
	<delete id="deleteBoardByMember" parameterType="String">
		DELETE FROM cashbook_board
		WHERE member_id = #{memberId}
	</delete>
	
	<!-- 이전글 boardNo -->
	<select id="selectPrevBoardNo" resultType="int" parameterType="int">
	<![CDATA[
		SELECT IFNULL(MAX(board_no), 0)
		FROM cashbook_board
		WHERE board_no < #{boardNo}
	]]>
	</select>
	
	<!-- 다음글 boardNo -->
	<select id="selectNextBoardNo" resultType="int" parameterType="int">
		SELECT IFNULL(MIN(board_no), 0)
		FROM cashbook_board
		WHERE board_no > #{boardNo}
	</select>
	
	<!-- 처음, 마지막 게시글 -->
	<select id="selectFistAndLastBoard" resultType="java.util.Map">
		SELECT
			MAX(board_no) maxBoardNo,
			MIN(board_no) minBoardNo
		FROM cashbook_board
	</select>

	<!-- 게시글 상세보기 -->
	<select id="selectBoardOne" resultType="com.gdu.cashbook.vo.Board" parameterType="int">
		SELECT
			board_no boardNo,
			board_title boardTitle,
			member_id memberId,
			board_date boardDate,
			board_pic boardPic,
			board_content boardContent
		FROM cashbook_board
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 게시글 원글일때 origin_no, group_order, group_layer 초기화 -->
	<update id="updateBoardInit">
		UPDATE cashbook_board
		SET	origin_no = (SELECT * FROM (SELECT MAX(board_no) FROM cashbook_board) t1),
			group_order = 0,
			group_layer = 0
		WHERE board_no = (SELECT * FROM (SELECT MAX(board_no) FROM cashbook_board) t2)
	</update>

	<!-- 게시글 입력 -->
	<insert id="insertBoard" parameterType="com.gdu.cashbook.vo.Board" useGeneratedKeys="true" keyColumn="board_no" keyProperty="boardNo">
		INSERT INTO
		cashbook_board(
			board_title,
			member_id,
			board_date,
			board_content,
			board_pic
		) VALUES (
			#{boardTitle},
			#{memberId},
			NOW(),
			#{boardContent},
			#{boardPic}
		)
	</insert>
	<!-- 전체 행 수 -->
	<select id="selectBoardTotalRow" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM cashbook_board
		WHERE board_title LIKE CONCAT('%', #{searchWord}, '%')
	</select>
	<!-- 게시글 전체 불러오기 -->
	<select id="selectBoardListByPage" resultType="com.gdu.cashbook.vo.Board" parameterType="com.gdu.cashbook.vo.Page">
		SELECT
			group_layer groupLayer,
			board_no boardNo,
			board_title boardTitle,
			member_id memberId,
			board_date boardDate
		FROM cashbook_board
		WHERE board_title LIKE CONCAT('%', #{searchWord}, '%')
		ORDER BY origin_no DESC, group_order
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>