<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- 비밀번호 찾기 - 아이디, 이메일 확인 일치하면 비밀번호 변경 -->
	<update id="updateMemberPw" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member
		SET member_pw = PASSWORD(#{memberPw})
		WHERE member_id = #{memberId}
		AND member_email = #{memberEmail}
	</update>

	<!-- 이름, 전화번호, 이메일로 아이디 찾기 -->
	<select id="selectMemberIdByMember" resultType="String" parameterType="com.gdu.cashbook.vo.Member">
		SELECT 
			CONCAT(SUBSTRING(member_id, 1, 3), '***')
		FROM member
		WHERE member_name = #{memberName}
		AND member_phone = #{memberPhone}
		AND member_email = #{memberEmail}
	</select>
	
	<!-- member 수정 -->
	<update id="updateMember" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member
		SET member_name = #{memberName},
			member_addr = #{memberAddr},
			member_phone = #{memberPhone},
			member_pw = PASSWORD(#{memberPw})
		WHERE member_id = #{memberId}
	</update>
	
	<!-- member 수정 전 비밀번호 확인 -->
	<select id="selectMemberByIdAndPw" resultType="com.gdu.cashbook.vo.Member" parameterType="com.gdu.cashbook.vo.LoginMember">
		SELECT 
			member_id memberId,
			member_name memberName,
			member_addr memberAddr,
			member_phone memberPhone,
			member_email memberEmail,
			member_pic memberPic,
			member_date memberDate
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<!-- member 삭제 -->
	<delete id="deleteMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</delete>
	
	<!-- member 개인 정보 -->
	<select id="selectMemberOne" resultType="com.gdu.cashbook.vo.Member" parameterType="com.gdu.cashbook.vo.LoginMember">
		SELECT
			member_id memberId,
			member_name memberName,
			member_addr memberAddr,
			member_phone memberPhone,
			member_email memberEmail,
			member_pic memberPic,
			member_date memberDate
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원가입 memberId 중복체크 -->
	<select id="selectMemberId" resultType="String" parameterType="String">
		SELECT
			memberId
		FROM (	SELECT member_id memberId FROM member
				UNION
				SELECT memberid memberId FROM memberid) t
		WHERE memberId = #{memberIdCheck}
	</select>
	
	<!-- 로그인 id, pw확인 -->
	<select id="selectLoginMember" resultType="com.gdu.cashbook.vo.LoginMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		SELECT 
			member_id memberId
		FROM member
		WHERE member_id = #{memberId} 
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<!-- member 추가 -->
	<insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO member (
			member_id, 
			member_pw, 
			member_name, 
			member_addr,
			member_phone, 
			member_email,
			member_date
		) VALUES (
			#{memberId},
			PASSWORD(#{memberPw}),
			#{memberName},
			#{memberAddr},
			#{memberPhone},
			#{memberEmail},
			NOW()
		)
	</insert>
</mapper>